<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- parallel="tests" its for suite -->
<!-- parallel="methods" its for methods -->
<!-- parallel="classes" its for classes -->
<suite name="All Test cases TestNg Tutorials" parallel="tests" thread-count="2">

	<test name="test1">

		<classes>

			<class name="parallelTest.Parallel_Test_1"/>
			

			

		</classes>

	</test>
	
	
	<test name="test2">

		<classes>

			
			<class name="parallelTest.Parallel_Test_2"/>	

			

		</classes>

	</test>

</suite>